.header {
  z-index: 5;
    height: 52px;
    background: radial-gradient(
      96.19% 4791.09% at 3.81% 28.85%,
      #3df3ff 0%,
      #c93acc 51.61%,
      #f8617c 100%
    );
    margin-bottom: 130px;
  }